<h1>Welcome to Stulo!</h1>

<p>The Student Debt Reduction App - Eliminating America's student debt issue one donation at a time! Use this site to find a student in need or add yourself as a student in need. </p>

<a href="/login">Login</a><br>
<a href="/signup">Sign up</a><br>
<a href="/search/user">Find A Student in Need</a><br>
<% if session["user_id"] != nil %>
  <a href="/user/profile">Profile</a><br>
  <a href="/logout">Logout</a><br>
  <a href="user/list">List of Users</a>
  <% end %>