<h1>Hello! Welcome to our stuff.</h1>

<p>The Student Debt Reduction App - Eliminating America's student debt issue one donation at a time!!!!! REVOLUTION! </p>

<a href="/login">Login</a>
<a href="/signup">Sign up</a>
<% if session["user_id"] != nil %>
  <a href="/logout">Logout</a>
  <a href="user/list">List of Users</a>
  <% end %>