<h2>Login</h2>

<center>
  <form method="post" action="/login/create">
    <p>
      <br><br>Email Address
      <input type="text" name="email" placeholder="Enter your email">
      <br><br>Password
      <input type="password" name="password" placeholder="Enter your password">
      <br><br><input type="submit" value="Login">
    </p>
  </form>
</center>

<br><br>
<a href="/">Home</a>