<h2>Sign Up!</h2>

<center>
  <form method="post" action="/users/process/create">
    <p>
      First Name
      <input type="text" name="first_name" placeholder="Enter your first name">
      <br><br>Last Name
      <input type="text" name="last_name" placeholder="Enter your last name">
      <br><br>Email Address
      <input type="text" name="email_address" placeholder="Enter your email">
      <br><br>Password
      <input type="password" name="password" placeholder="Enter your password">
      <br><br>Debt Amount, if applicable
      <input type="number" name="debt_amount" placeholder="$$$$">
      <br><br><input type="submit">
    </p>
  </form>
</center>