<div class="container text-center">
  <ul class="nav nav-bordered">
    <li class="active">
      <a href="/">Home</a>
    </li>
    <li class="active">
      <a href="/user/profile">Profile</a>
    </li>
    <li class="active">
      <a href="/user/list">List of Users</a>
    </li>
    <li class="active">
      <a href="/logout">Log Out</a>
    </li>
  </ul>

  
  <br>
  <div class="block block-inverse text-center">
  <div class="block-foreground">
    <h1 class="block-title">Find a Student or a Donor</h1>
    <h4 class="text-muted">Search below</h4>
    <% if @error != nil %>
    <%= @error %><br><br>
  <% end %>
    <div class="text-center">
  <form method="post" action="/search/user/process">
    <select class="custom-select" name="search_criteria">
      <option selected disabled>--</option>
      <option value="email">Email</option>
      <option value="first_name">First Name</option>
      <option value="last_name">Last Name</option>
    </select>
    <br><br>
    <div class="block_button">
    <input type="text" name="search_term" placeholder="Search">
      <br><br><input type="submit" value="Search">
  </form>
  </div>
</div>
  </div>

  <div class="block-background">
    <iframe frameBorder="0" src="http://4kwallpapers.site/wp-content/uploads/2011/04/blue-dot-sparkle-3d-abstract-wide-screen.jpg"></iframe>
  </div>
</div>
<br>
<style>
.block_button{
  color: black;
}
</style>

