<h2><%= @user.first_name %> 
<%= @user.last_name %></h2>


<% if @user.id == session["user_id"]%>
<a href="/user/update">Update</a>
<form action = "/user/delete" method = "post">
          <input type = "submit" value = "Delete">
    </form>
<%end%>


<p>
Amount needed:<br>
$<%= @user.debt_amount %>
</p>

<br><br>
<a href="/">Home</a><br>
<a href="/user/list">List of Users</a>