<form action = "/update/process/<%= @update.id%>" method = "post">
    Edit your status! <br><br>
    <input type="text" name="status" value="<%= @update.status_update %>">
    <input type="submit" value = "Update">
</form>